[Desktop Entry]
Name=Locale Tester
Name[sv]=Locale-testare
Comment=Test and compare locale settings
Exec=locale-tester
Icon=locale-tester
Terminal=false
Type=Application
Categories=Development;Translation;
Keywords=locale;l10n;i18n;testing;
